
<form action="/payment/results">
  <label for="apr_input">APR</label>
  <input id="apr_input" type="text" placeholder="E.g. 5.42" name="user_apr">

  <div></div>

  <label for="years_input">Number of years</label>
  <input id="years_input" type="text" placeholder="How many years to repay?" name="user_years">

  <div></div>

  <label for="principal_input">How much principal?</label>
  <input id="principal_input" type="text" placeholder="How much principal?" name="user_principal">

  <div></div>

  <button>Calculate monthly payment</button>
</form>
