
<form action="/random/results">
  <label for="minimum">Minimum</label>
  <input id="minimum" type="text" placeholder="E.g. 1.5" name="user_min">

  <div></div>

  <label for="maximum">Maximum</label>
  <input id="maximum" type="text" placeholder="E.g. 4.5" name="user_max">

  <div></div>

  <button>Pick random number</button>
</form>
