<dl>
  <dt>Minimum</dt>
  <dd><%= @lower %></dd>

  <dt>Maximum</dt>
  <dd><%= @upper %></dd>

  <dt>Random Number</dt>
  <dd><%= @results %></dd>
</dl>

<a href="/random/new">Pick another random number</a>

