


<form action="/square_root/results">
 <label for="user_number">Enter a number</label>
 <input id="user_number" type="text" placeholder="What number do you want to square root?" name="number">
 
   <div></div>

 <button>Calculate square root</button>
</form>
