


<form action="/square/results">
 <label for="user_number">Enter a number</label>

   <div></div>

 <input id="user_number" type="text" placeholder="What number do you want to square?" name="number">
 
   <div></div>

 <button>Calculate square</button>
</form>
